{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/css_auth.css' %}">
    <title>Document</title>
</head>
<body>
    {% if messages %}
        <div class="message_block">
            <div class="message">
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                <div class="close_message">
                    <button onclick="closeMessageBlock()">закрыть</button>
                </div>
            </div>
        </div>
        
    {% endif %}
    <div class="block_auth">
        <div class="title">
            <p>Регистрация</p>
        </div>
        <form class="inputs" method="post" action="{% url 'sign_in' %}">
            {% csrf_token %}
            <input name="login" id="loginid" class="login" type="text" placeholder="Логин">
            <input name="password" id="passwordid" class="password" type="password" placeholder="Пароль">
            <input name="name" id="name" class="name" type="text" placeholder="Фио">
            <input name="adress" id="adress" class="adress" type="text" placeholder="адрес">
            <input name="email" id="email" class="adress" type="email" placeholder="E-mail">
            <div class="button">
                <button  class="button_exit">Регистрация</button>
            </div>
        
        </form>
        
    </div>
</body>
</html>
<script>
function closeMessageBlock() {
    var mesBlock = document.querySelector('.message_block');
    mesBlock.classList.remove('message_block');
    mesBlock.classList.add('message_block_none');
}
</script>