@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
p, h1, h2{
    font-family: Inter;
}
body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

.block_auth {
    width: 600px;
    display: flex;
    gap: 5vh;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.faults {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 20px;
}

.inf {
    display: flex;
    gap: 2vh;
    margin-top: 20px;
    flex-direction: column;
}

.inf div {
    margin-bottom: 10px;
}

.inf p {
    font-size: 18px;
    margin: 0;
}

.fault_text textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: none;
}

.button {
    display: flex;
    justify-content: center;
}

.button_op {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button_op:hover {
    background-color: #0056b3;
}
